@font-face{
    font-family:h1font;
    src: url(Blacksword.otf);
}

@font-face{
    font-family:pfont;
    src: url(MODERNTYPEWRITER.ttf);
}


@font-face{
    font-family:gfont;
    src: url(CARERRA-Jones.otf);
}
html{
    margin: 0;
    padding: 0;
    height: 100%;
    background: url(../Photos/background.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow-x:hidden;
}

body{    
    margin: 0;
    padding: 0;
    height:100%;
}
        
.menu{
    right:1.5%;
    height:100%;
    width:10%;
    position: absolute;
    opacity:1;
    text-align: center;
    top:9%;
}
        
.menu a{
    position:fixed;
}

.iconSpacing{
    margin-bottom:80%;
}
.greetingsTable{
    position:absolute;
    height:100%;
    margin-left:35%;
    padding-top:14%;
}
        
.greetingsTable h1{
    font-family:gfont;
    color:white;
    font-size:800%;
    height:100%;
}

.firstPortion{
    height:100%;
    padding:0;
}

.aboutMePortion{
    height:100%;
    min-height:100%;
    background-image:url(../Photos/cork.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    margin:0;
    padding: 0;
    color:white;
}

#aboutMessage{
    margin-left:10%;
    height:100%;
    min-height:100%;
    width:100%;
    padding-top:3%;
}

#whoamI{
    font-family:h1font;
    font-size:100px;
}

.aboutParagraph{
    font-size:24px;
    font-family:pfont;
}

.pictureFrame{
    margin-left:55%;
    margin-top:-30%;
    height:100%;
}
        
.travelPortion{
    height:170%;
    color:white;
}

.backgroundColor{
    background-color:#141414;
}

#travelStyle{
    margin-top: 1%;
    text-align:center;
    font-size:60px;
}

#travelStyle2{
    margin-top:-3%;
    text-align:center;
    font-size:30px;
    padding-bottom:3%;
}

.travelPhotos{
    height:300px;
    width:auto;
}

.skillsPortion{
    height:100%;
    background-color:#283747;
    color:white;
}

#skillStyle{
    padding-top:10%;
    height:100%;
    width:100%;
}

#skillRate{
    width:30%;
    text-align:center;
    font-size:40px;
}

.skillParagraph{
    width:100%;
    text-align:center;
    font-size:25px;
}

.workSkill{
    width:20%;
    height:30%;
    margin-left:40%;
}

.hobbiesPortion{
    height:100%;
    background-image:url(../Photos/snowboard.jpg);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}

#hobbiesMessage{
    margin-left:50%;
    padding-top:20%;
    height:100%;
    width:100%;
}

.hobbiesParagraph{
    font-size:30px;
    color:white;
    font-family:century gothic;
}

.contactPortion{
    height:100%;
}

#contactMe{
    padding-top:5%;
    text-align:center;
    color:white;
}

#contactContent{
    padding-top:5%;
    padding-left:10%;
    height:30%;
    color:white;
    text-align: center;
}

.contactStyle{
    padding-right:10%;
}