html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
a{
    color: black;
}
figure.blurfilter{
        margin: 0;
        padding: 0;
        display: inline-block;
        position: relative;
        overflow: hidden;
}
figure.blurfilter img{
        display: block;
        width: 1000px;
        height: auto;
        transition: all 0.3s 0.3s;
}
figure.blurfilter figcaption{
        position: absolute;
        display: block;
        text-align: left;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        background: white;
        padding: 10px;
        z-index: 100;
        width: 90%;
        height: 90%;
        overflow: hidden;
        top: 5%;
        left: 5%;
        font-family: 'Roboto Condensed';
        font-size: 16px;
        opacity: 0;
        -webkit-transition: all 0.4s;
        transition: all .4s;
}

figure.blurfilter figcaption h3{
        font-size: 500%;
        text-align: left;
        width: 100%;
        margin: 0;
        color: black
}

figure.blurfilter figcaption p{
        text-align: left;
        margin-top: 10px;
        line-height: 1.5;
        color: white
        font-size: 160%;
        font-weight: 300;
}

figure.blurfilter figcaption a{
        text-decoration: none;
}

figure.blurfilter:hover img{
        -webkit-filter: blur(20px); 
        filter: blur(20px);
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
}

figure.blurfilter:hover figcaption{
        opacity: 1;
        box-shadow: 0 0 5px gray;
        -webkit-transition: all .4s .4s;
        transition: all .4s .4s;
}
figure.semitransparent figcaption{
        background: transparent;
}

figure.semitransparent figcaption:before{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: white;
        opacity: .7;
}
.parallax {
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
}
.first {
        background-image: url(../images/1.jpg);
}
.second {
        background-image: url(../images/2.jpg);
        height: 80%;
}
.three {
        background-image: url(../images/3.jpg);
        height: 80%;
}
.four {
        background-image: url(../images/4.jpg);
        height: 80%;
}
.right-heading {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(0%, -50%);
        color: white;
        text-align: right;
}
.right-heading h1, .right-heading h2 {
        font-weight: 500;
        font-family: 'Roboto';
}
.right-heading h3 {
        font-family: 'SFNS Text', italic;
}
.right-heading h1 {
        font-family: 'Roboto Condensed';
        font-size: 400%;
        line-height: 30%;
}
.container h1 {
        font-family: 'Gotham Black', regular;
        font-weight: 300;
        text-align: left;
        font-size: 275%;
        padding-top: 10px;
        padding-bottom: 20px;
        padding-left: 200px;
}
.sub-caption {
        background: rgba(255, 255, 255, 0.0);
        font-family: Helvetica;
        width: 75%;
        padding-top: 27px;
        padding-bottom: 27px;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 160%;
        font-weight: 300;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translate(0%, -50%);
}
.left {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translate(0%, -50%);
}